celery[redis]==5.6.3
cfgv==3.5.0
cssbeautifier==1.15.4
dj-database-url==3.1.2
django-import-export==4.4.0
django-stubs-ext==6.0.3
django-stubs==6.0.3
Django==6.0.4
djangorestframework==3.17.1
djlint==1.36.4
editorconfig==0.17.1
feedparser==6.0.12
gunicorn==25.3.0
httpx==0.28.1
identify==2.6.19
jsbeautifier==1.15.4
librt==0.9.0
mypy==1.20.2
nodeenv==1.10.0
praw==7.8.1
pre-commit==4.6.0
psycopg[binary]==3.2.9
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
pytest-django==4.12.0
pytest-mock==3.15.1
pytest==9.0.3
python-dotenv==1.2.2
qdrant-client==1.17.1
ruff==0.15.12
sentence-transformers==5.4.1
structlog==25.5.0
types-pyyaml==6.0.12.20260408